script(src="https://code.jquery.com/jquery-1.11.3.min.js")
script(src="/destinyArmory.js")
link(rel="stylesheet" type="text/css" href="/style.css")
div
	| Este es un texto que contiene un texto largo con muchas letras y un
	| <span data-item="1274330687" data-lan="es" class="destinyArmory">link al garrafon.</span> en español
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	| otro <span data-item="1274330687" data-lan="de" class="destinyArmory">link al garrafon.</span> en aleman
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	br
	| Y otro <span data-item="1274330687" class="destinyArmory">link al garrafon.</span> en ingles